
.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center !important;
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.bold{
  text-align: start !important;
}
